exportPattern("^[[:alpha:]]+")
import(tidyr)
import(dplyr)
import(ggplot2)
import(stringi)
import(lubridate)
import(plotly)
import(purrr)
import(naniar)
import(forcats)
import(timetk)
import(sugrrants)
import(ggthemes)
import(lattice)
import(latticeExtra)
import(furrr)
import(cowplot)
import(osmdata)
import(sf)
import(leaflet)
import(RColorBrewer)

