exportPattern("^[[:alpha:]]+")
import(tidyr)
import(dplyr)
import(ggplot2)
import(stringi)
import(lubridate)
import(plotly)
import(purrr)
import(timetk)
import(lattice)
import(latticeExtra)
import(grid)
import(gridExtra)
